<head>
	<meta charset="utf-8">
	<title>Rotate 3D</title>

	<style>
		body {
			perspective: 500px ;
		}

		img {
			width: 300px ;
			display: block ;
			margin: auto ;
			margin-top: 200px ;
			transition: transform 1s ease ;
		}

		.container:hover img {
			/* transform: translateZ(200px) ; */
			/* transform: rotateZ(120deg) ; */
			/* transform: rotateX(120deg) ; */
			/* transform: rotateY(120deg) ; */
			transform: rotateX(60deg) rotateY(60deg) rotateZ(60deg) ;
		}
	</style>
</head>

<body>
	<div class="container">
		<img src="assets/img.jpg">
	</div>
</body>
