<head>
	<title>Animation Part 1</title>
	<meta charset="utf-8">
	<style>
		body {
			margin: 0 ;
		}

		div {
			background-color: #f5a ;
			height: 150px ;
			width: 150px ;

			/* Properties order doens't matter */
			/* But the delay has to go to the end */
			animation: 2s moving infinite forwards alternate-reverse 1s ;
		}

		@keyframes moving {
			0% {
				transform: translateX(200px) ;
			}

			20% {
				transform: translateX(500px) ;
			}

			100% {
				transform: translate(500px, 500px) ;
			}
		}
	</style>
</head>

<body>
	<div></div>
</body>
