<head>
	<title>Animation Part 1</title>
	<meta charset="utf-8">
	<style>
		body {
			margin: 0 ;
		}

		div {
			background-color: #f5a ;
			height: 150px ;
			width: 150px ;
			animation-name: moving ;
			animation-duration: 3s ;
			animation-iteration-count: infinite ;
			animation-timing-function: ease ;

			/* animation-direction: normal ; */
			/* animation-direction: reverse ; */
			/* animation-direction: alternate ; */
			animation-direction: alternate-reverse ;

			animation-fill-mode: forwards ;

		}

		@keyframes moving {
			0% {
				transform: translateX(200px) ;
			}

			20% {
				transform: translateX(500px) ;
			}

			100% {
				transform: translate(500px, 500px) ;
			}
		}
	</style>
</head>

<body>
	<div></div>
</body>
