<head>
	<meta charset="utf-8">
	<title>Preload Text Animation</title>

	<style>
		body {
			height: 100vh ;
			display: flex ;
			justify-content: center ;
			align-items: center ;
			background-color: #112 ;
		}

		h1 {
			font-size: 40px ;
			margin: 0 ;
			padding: 0 ;
			text-transform: uppercase ;
			letter-spacing: 10px ;
			color: #fff ;
			position: relative ;
		}

		h1::before {
			text-shadow: 0 0 4px #ff0a ;
			content: 'Loading...' ;
			position: absolute ;
			top: 0 ;
			left: 0 ;
			width: 100% ;
			color: #ff0 ;
			overflow: hidden ;
			border-right: 4px solid #ff0 ;
			animation: animate 5s ease infinite ;
		}

		@keyframes animate {
			0% {
				width: 0 ;
			}

			50% {
				width: 100% ;
			}

			100% {
				width: 0 ;
			}
		}
	</style>
</head>

<body>
	<h1 class="loader">Loading...</h1>
</body>
