<head>
	<title>Animated CSS Patterns</title>
	<meta charset="utf-8">
	<style>
		body {
			margin: 0 ;
			/* background-color: #3eb ; */
		}

		.banner {
			height: 100vh ;
			background: url(assets/bg2.png) ;
			background-position: 0 0 ;
			/* background-size: cover ; */
			width: 100vw ;
			height: 100vh ;
			animation: animated-pattern 1s linear infinite ;
		}

		@keyframes animated-pattern {
			from { background-position: 0 0 }
			to { background-position: 800px 600px }
		}
	</style>
</head>

<body>
	<div class="banner"></div>
</body>
