<head>
	<meta charset="utf-8">

	<title>Button Hover Effect: 8</title>

	<style>
		body {
			height: 100vh ;
			display: flex ;
			justify-content: center ;
			align-items: center ;
		}

		a {
			text-decoration: none ;
			color: #00A32C ;
			font-family: alice ;
			font-size: 40px ;
			border: 3px solid #00A32C ;
			padding: 40px 80px ;
			overflow: hidden ;
			border-radius: 8px ;
			transition: all 0.5s ease ;
			position: relative ;
		}

		a::before {
			content: 'Hover Me' ;
			position: absolute ;
			top: 0 ;
			left: 0 ;
			height: 100% ;
			width: 100% ;
			background-color: #00A32C ;
			color: #fff ;
			display: flex ;
			justify-content: center ;
			align-items: center ;
			transform: scale(5) ;
			opacity: 0 ;
			transition: all 0.5s ease ;
		}

		a:hover::before {
			transform: scale(1) ;
			opacity: 1 ;
		}
	</style>
</head>

<body>
	<a href="#">Hover Me</a>
</body>
