<head>
	<meta charset="utf-8">

	<title>Button Hover Effect: 2</title>

	<style>
		body {
			height: 100vh ;
			display: flex ;
			justify-content: center ;
			place-items: center center ;
		}

		a {
			text-decoration: none ;
			color: #55f ;
			font-family: alice ;
			font-size: 40px ;
			border-radius: 8px ;
			border: 3px solid #55f ;
			padding: 40px 80px ;
			position: relative ;
			overflow: hidden ;
			transition: all 0.5s ease-in-out, color 0.25s ease-in-out ;
		}

		a:hover {
			color: #fff ;
		}

		a::before {
			content: "" ;
			position: absolute ;
			left: 0 ;
			top: 0 ;
			width: 100% ;
			height: 120% ;
			background-color: #55f ;
			z-index: -1 ;
			transform: translate(100%, -10%) ;
			transition: all 0.5s ease ;
		}

		a:hover::before {
			transform: translate(0%, -10%) ;
		}
	</style>
</head>

<body>
	<a href="#">Hover Me</a>
</body>
