<head>
	<meta charset="utf-8">

	<title>Button Hover Effect: 4</title>

	<style>
		body {
			height: 100vh ;
			display: flex ;
			place-items: center center ;
			justify-content: center ;
		}

		a {
			text-decoration: none ;
			padding: 40px 80px ;
			color: #E54759 ;
			font-size: 40px ;
			border: 3px solid #E54759 ;
			border-radius: 8px ;
			font-family: alice ;
			font-weight: 300 ;
			letter-spacing: -2px ;
			transition: all 0.25s ease ;
		}

		a:hover {
			font-weight: 900 ;
			letter-spacing: 4px ;
			border: 7px solid #E54759 ;
		}
	</style>
</head>

<body>
	<a href="#">Hover Me</a>
</body>
