<head>
	<meta charset="utf-8">
	<title>Menu Hover Effect</title>

	<style>
		body {
			height: 100vh ;
			display: flex ;
			align-items: center ;
			justify-content: center ;
			flex-direction: column ;
			background-color: #222 ;
		}

		.container {
			width: 450px ;
			height: 300px ;
			position: relative ;
			overflow: hidden ;
		}

		.image-container {
			max-width: 100% ;
			max-height: 100% ;
			object-fit: cover ;
			overflow: hidden ;
		}

		.container::before {
			content: '' ;
			position: absolute ;
			top: 0 ;
			left: 0 ;
			width: 100% ;
			height: 100% ;
			background-color: #2d3436 ;
			opacity: 0.8 ;
			transition: all 0.25s ease ;
			transform: translate(550px, 300px) rotate(45deg) ;
		}

		.container:hover::before {
			transform: translate(-50px, -150px) rotate(45deg) ;
			width: 120% ;
			height: 205% ;
		}

		.caption {
			position: absolute ;
			top: 0 ;
			left: 0 ;
			width: 100% ;
			height: 100% ;
			display: flex ;
			flex-direction: column ;
			justify-content: space-around ;
			color: #fff ;
			text-transform: uppercase ;
		}

		h2 {
			text-align: center ;
			font-size: 17px ;
			padding: 20px ;
			margin-top: 20px ;
			background-color: #000a ;
			transform: translate(200px, -200px) ;
			transition: all 0.25s ease ;
		}

		.container:hover h2 {
			transform: translate(0, 0) ;
			transition-delay: 0.3s ;
		}

		p {
			font-size: 16px ;
			width: 80% ;
			align-self: center ;
			text-align: center ;
			transition: all 0.25s ;
			transform: translate(-200px, 200px) ;
		}

		.container:hover p {
			transform: translate(0, 0) ;
			transition-delay: 0.4s ;
		}

		a {
			text-decoration: none ;
			background-color: #000 ;
			color: #fff ;
			width: 100px ;
			padding: 15px ;
			margin-bottom: 20px ;
			align-self: center ;
			transform: translateY(100px) ;
			transition: all 0.25s ease ;
		}

		.container:hover a {
			transform: translateY(0) ;
			transition-delay: 0.5s ;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="image-container">
			<img src="assets/img.jpg">
		</div>

		<div class="caption">
			<h2>Image Hover</h2>
			<p>Lorem ipsum dolor sit amet</p>
			<a href="#">Read More</a>
		</div>
	</div>
</body>
